<header>
    <div class="wrapper">
        <span class="element-1"></span>
        <span class="element-1"></span>
        <span class="element-1"></span>
        <span class="element-1"></span>
        <span class="element-2"></span>
        <span class="element-2"></span>
        <span class="element-2"></span>
    </div>

    <div>
        <h1>Stardew of Isaac</h1>
        <h2>A <b>『Ƥɐım0n』Studio</b> production</h2>
    </div>

    <div class="download">
        <i class="fas fa-arrow-down"></i>
    </div>
</header>

<main>
    <video autoplay="true" muted="true" width="500" height="250" >
        <source src="/assets/video/video.webm" type="video/ogg">
    </video>
</main>

<footer>
    Yo
</footer>
