<div class="modal-header">
    <h3 class="modal-title text-center" id="modal-title">Choose your OS</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-4 text-center">
            <a href="/download/windows.zip" target="_blank">
                <h3>Windows</h3>
                <img src="assets/img/windows.png" alt="Windows Logo" />
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a href="/donwload/macos.zip" target="_blank">
                <h3>MacOS</h3>
                <img src="assets/img/macos.png" alt="MacOS Logo" />
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a href="/download/linux.zip" target="_blank">
                <h3>Linux</h3>
                <img src="assets/img/linux.png" alt="Linux Logo" />
            </a>
        </div>
    </div>
</div>
